.section-categories {
    text-align: center;
    padding: 32px 0;
}

.categories-container {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    .category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.2s all;
        margin: 0 8px;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        .category-image {
            background-color: #fff;
            padding: 16px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 16px;
            img {
                width: 100%;
                mix-blend-mode: multiply;
            }
        }
    }
}