<div nz-row nzGutter="32">
    <div nz-col [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <div class="card" style="background-color:#ff4747;">
            <div nz-row nzGutter="16">
                <div nz-col [nzXl]="12" [nzXs]="10">
                    <div class="image">
                        <img [src]="'https://m.media-amazon.com/images/I/61YvHa6o94L._SX522_.jpg'" alt="logo">
                    </div>
                </div>
                <div nz-col [nzXl]="12" [nzXs]="14">
                    <div class="description">
                        <p>{{ 'LATEST-RELEASES.item_title' | translate }}</p>
                        <h1>{{'LATEST-RELEASES.item_name' | translate}}</h1>
                        <button nz-button nzType="default">{{'LATEST-RELEASES.item_button' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <div class="card" style="background-color:#f19d50;">
            <div nz-row nzGutter="16">
                <div nz-col [nzXl]="12" [nzXs]="10">
                    <div class="image">
                        <img [src]="'https://tradelinestores.s3.amazonaws.com/media/product_images/6636657d-3e22-44e4-a530-adecc62ff304.png'" alt="logo">
                    </div>
                </div>
                <div nz-col [nzXl]="12" [nzXs]="14">
                    <div class="description">
                        <p>{{ 'LATEST-RELEASES.item_title' | translate }}</p>
                        <h1>{{'LATEST-RELEASES.item_name' | translate}}</h1>
                        <button nz-button nzType="default">{{'LATEST-RELEASES.item_button' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>