@import "./../../../styles/border-radius.scss";
.card {
    border-radius: $border-radious;
    margin: 8px 0;
    width: 100%;
    button {
        border-radius: $border-radious;
    }
}

[nz-row] {
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px;
}

.image {
    img {
        width: 100%;
        mix-blend-mode: multiply;
    }
}