$border-radious: 8px;
// $border-width: 2px;
.logo {
    display: flex;
    align-items: center;
    color: #f19d50;
    cursor: pointer;
    em {
        font-size: 32px;
        font-weight: bold;
    }
    h1 {
        padding: 0 16px;
        color: #f19d50;
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
}

nz-header {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 8px 128px;
    border-bottom: #e7e8ea 1px solid;
    .header-search input {
        border: #f19d50 1px solid;
        border-radius: $border-radious;
        // border-width: $border-width;
        padding: 4px 8px;
    }
}

nz-row {
    align-items: center;
    justify-content: space-between;
}

nz-row:last-child {
    justify-content: flex-end;
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower-header {
    background-color: #fff;
    border-bottom: none;
    padding: 0 128px;
    box-shadow: -1px 5px 4px 0px rgba(0, 0, 0, 0.75);
}

[nz-menu] {
     :first-child {
        padding-left: 0;
    }
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    // line-height: 46px;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #25282b;
    .header-action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        font-size: 18px;
    }
}

.header-action:hover {
    // color: chocolate;
}

.cart-icon {
    position: relative;
}

.cart-number {
    position: absolute;
    right: -8px;
    top: -16px;
}

.header-action em {
    margin: 0px 8px;
    // font-size: 16px;
    cursor: pointer;
}

.drawer {
    cursor: pointer;
    font-size: 20px;
}