@import "./../../styles/colors.scss";
@import "./../../styles/text.scss";
@import "./../../styles/border-radius.scss";
.logo {
    display: flex;
    align-items: center;
    color: $main-color;
    cursor: pointer;
    em {
        font-size: 32px;
        font-weight: bold;
    }
    h1 {
        padding: 0 8px;
        color: $main-color;
        margin-bottom: 0;
        cursor: pointer;
    }
}

nz-header {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 8px 128px;
    border-bottom: #e7e8ea 1px solid;
    .header-search input {
        border: $main-color 1px solid;
        border-radius: $border-radius;
        padding: 4px 8px;
    }
}

nz-row {
    align-items: center;
    justify-content: space-between;
    &:last-child {
        justify-content: flex-end;
    }
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower-header {
    background-color: #fff;
    border-bottom: none;
    padding: 0 128px;
    box-shadow: -1px 5px 4px 0px rgba(0, 0, 0, 0.75);
}

[nz-menu] {
     :first-child {
        padding-left: 0;
    }
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #25282b;
    .header-action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        font-size: 18px;
        &:hover {
            color: $main-color;
        }
    }
}

.cart-icon {
    position: relative;
    .cart-number {
        position: absolute;
        right: -8px;
        top: -16px;
    }
}

.drawer {
    cursor: pointer;
    font-size: 20px;
}

.mobile-view {
    display: none;
}

@media screen and (max-width:991px) {
    nz-header {
        padding: 8px 16px;
    }
    .mobile-view {
        display: block;
    }
    .large-view {
        display: none;
    }
    .header-actions {
        .header-action {
            padding: 0px 8px;
        }
    }
    .lower-header {
        padding: 0 16px;
    }
}