.logo {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

h1 {
    color: #fff;
    margin-bottom: 0;
    margin-left: 16px;
    font-family: 'Montserrat', sans-serif;
}

nz-header {
    width: 100%;
    height: fit-content;
}

nz-row {
    align-items: center;
    justify-content: space-between;
}

nz-row:last-child {
    justify-content: flex-end;
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower-header {
    background-color: #fcfcfc;
}

[nz-menu] {
    font-weight: 500;
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 46px;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    cursor: pointer;
    position: relative;
}

.header-action:hover {
    color: #001529;
}

.cart-icon {
    position: relative;
}

.drawer {
    cursor: pointer;
    font-size: 20px;
}

.header-action em {
    margin: 0px 8px;
    font-size: 24px;
    cursor: pointer;
}

.head-example {
    position: absolute;
    left: -5px;
    top: -5px;
}