<section>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzXl]="16">
            <div nz-row [nzGutter]="16">
                <div nz-col [nzXl]="6" [nzLg]="6" [nzMd]="12" [nzSm]="12" [nzXs]="24" *ngFor="let card of cardList">
                    <app-product-card [card]="card"></app-product-card>
                </div>
            </div>
        </div>
        <div nz-col [nzXl]="8">
            <app-seperation-offer-banner-vertical></app-seperation-offer-banner-vertical>
        </div>
    </div>
</section>