@import "../../../styles/colors.scss";
@import "../../../styles/border-radius.scss";
@import "../../../styles/text.scss";
section {
    background-color: #deeaf1;
    padding: 16px;
    border-radius: $border-radius;
    margin: 32px 0px;
}