<app-home-circular-categories></app-home-circular-categories>
<app-latest-releases></app-latest-releases>
<app-section-title [title]="'SECTION-HEADER.title' | translate"></app-section-title>
<app-home-section-one></app-home-section-one>
<app-section-title [title]="'SECTION-HEADER.title2' | translate"></app-section-title>
<app-home-section-two></app-home-section-two>
<app-seperation-offer-banner></app-seperation-offer-banner>
<app-section-title [title]="'SECTION-HEADER.title3' | translate"></app-section-title>
<app-home-section-three></app-home-section-three>
<app-latest-releases></app-latest-releases>