<app-home-circular-categories></app-home-circular-categories>
<app-latest-releases></app-latest-releases>
<app-section-title [title]="'SECTION-HEADER.title' | translate"></app-section-title>
<app-home-section-one></app-home-section-one>
<app-section-title [title]="'SECTION-HEADER.title2' | translate"></app-section-title>
<app-home-section-two></app-home-section-two>
<app-seperation-offer-banner></app-seperation-offer-banner>
<app-section-title [title]="'SECTION-HEADER.title3' | translate"></app-section-title>
<app-home-section-three></app-home-section-three>
<app-latest-releases></app-latest-releases>
<app-section-title [title]="'SECTION-HEADER.title4' | translate"></app-section-title>
<app-home-section-category [categoryGroupName]="'Electronics'" [categoryGroupId]="1"></app-home-section-category>
<app-seperation-offer-banner></app-seperation-offer-banner>
<app-home-section-category [categoryGroupName]="'Home Appliance'" [categoryGroupId]="2"></app-home-section-category>
<app-section-title [title]="'SECTION-HEADER.title' | translate"></app-section-title>
<app-home-section-one></app-home-section-one>
<app-home-section-category [categoryGroupName]="'Men Fashion'" [categoryGroupId]="3"></app-home-section-category>
<app-seperation-offer-banner></app-seperation-offer-banner>
<app-home-section-category [categoryGroupName]="'Women Fashion'" [categoryGroupId]="3"></app-home-section-category>
<app-section-title [title]="'SECTION-HEADER.title' | translate"></app-section-title>
<app-home-section-one></app-home-section-one>
<app-home-section-category [categoryGroupName]="'Grocery'" [categoryGroupId]="4"></app-home-section-category>
<app-seperation-offer-banner></app-seperation-offer-banner>
<app-home-section-category [categoryGroupName]="'Baby'" [categoryGroupId]="4"></app-home-section-category>
<app-section-title [title]="'SECTION-HEADER.title' | translate"></app-section-title>
<app-home-section-one></app-home-section-one>