@import "../../../styles/colors.scss";
@import "../../../styles/border-radius.scss";
@import "../../../styles/text.scss";
.section-header-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    .card-desc {
        h4 {
            font-size: 16px;
        }
    }
}

.active {
    background-color: $main-color;
    .card-desc {
        color: black;
        h4 {
            color: black;
            font-size: 16px;
        }
    }
}