<section>
    <div class="section-header-card-container">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzXl]="6" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <div class="section-header-card active">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzXl]="16" [nzLg]="16" [nzMd]="16" [nzSm]="16" [nzXs]="16">
                            <div class="card-desc">
                                <h4>Spring sale</h4>
                                <p>Discounts up to</p>
                            </div>
                        </div>
                        <div nz-col [nzXl]="8" [nzXl]="8" [nzMd]="8" [nzSm]="8" [nzXs]="8" [nzMd]="8" [nzSm]="8" [nzXs]="8">
                            <div class="card-percent">
                                <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="70" [nzStrokeColor]="'#fff'">
                                </nz-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzXl]="6" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <div class="section-header-card">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzXl]="16" [nzLg]="16" [nzMd]="16" [nzSm]="16" [nzXs]="16">
                            <div class="card-desc">
                                <h4>Spring sale</h4>
                                <p>Discounts up to</p>
                            </div>
                        </div>
                        <div nz-col [nzXl]="8" [nzXl]="8" [nzMd]="8" [nzSm]="8" [nzXs]="8">
                            <div class="card-percent">
                                <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="70" [nzStrokeColor]="'#f19d50'"></nz-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzXl]="6" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <div class="section-header-card">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzXl]="16" [nzLg]="16" [nzMd]="16" [nzSm]="16" [nzXs]="16">
                            <div class="card-desc">
                                <h4>Spring sale</h4>
                                <p>Discounts up to</p>
                            </div>
                        </div>
                        <div nz-col [nzXl]="8" [nzXl]="8" [nzMd]="8" [nzSm]="8" [nzXs]="8">
                            <div class="card-percent">
                                <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="70" [nzStrokeColor]="'#f19d50'"></nz-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzXl]="6" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                <div class="section-header-card">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzXl]="16" [nzLg]="16" [nzMd]="16" [nzSm]="16" [nzXs]="16">
                            <div class="card-desc">
                                <h4>Spring sale</h4>
                                <p>Discounts up to</p>
                            </div>
                        </div>
                        <div nz-col [nzXl]="8" [nzXl]="8" [nzMd]="8" [nzSm]="8" [nzXs]="8">
                            <div class="card-percent">
                                <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="70" [nzStrokeColor]="'#f19d50'"></nz-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzXl]="4" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24" *ngFor="let card of cardList">
            <app-product-card [card]="card"></app-product-card>
        </div>
    </div>
</section>