<div class="carousel-container">
    <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of array">
            <div class="content">
                <div class="layer">
                    <img [src]="index" alt="banner" width="300" height="200">
                </div>
            </div>
        </div>
    </nz-carousel>
    <div class="overlay">
        <div class="content">
            <h2>The wood that inhances the beauty of your home</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button nz-button nzType="default">Buy now</button>
        </div>
        <div class="arrows">
            <span nz-button class="prev-arrow" (click)="prev()"><em nz-icon nzType="left" nzTheme="outline"></em></span>
            <span nz-button class="next-arrow" (click)="next()"><em nz-icon nzType="right"
                    nzTheme="outline"></em></span>
        </div>
    </div>
</div>