<div class="carousel-container">
    <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of array">
            <div class="content">
                <div class="layer">
                    <img [src]="index" alt="banner">
                </div>
            </div>
        </div>
    </nz-carousel>
    <span nz-button class="prev-arrow" (click)="prev()"><em nz-icon nzType="left" nzTheme="outline"></em></span>
    <span nz-button class="next-arrow" (click)="next()"><em nz-icon nzType="right" nzTheme="outline"></em></span>
</div>